.admin-table {

    .table {
        font-size: 0.9rem;

        th, td {
            vertical-align: middle !important;
            padding: 0.5rem;
        }

        .badge {
            font-size: 0.75rem;
            padding: 0.4em 0.6em;
        }

        select { 
            min-width: 140px; 
        }
    }
    
    select.form-select-sm {
        font-size: 0.85rem;
        padding: 0.2rem 0.4rem;
    }

    @media (max-width: 768px) {
        .table {
            font-size: 0.85rem;
        }
    }
}